<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543696938001-11vptqri7lj7g34vuliqjidkm2p8dd5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543696938001-11vptqri7lj7g34vuliqjidkm2p8dd5c</string>
	<key>API_KEY</key>
	<string>AIzaSyBn6_7i6Q2llJqPVnQWQVXQhheMypUeBjA</string>
	<key>GCM_SENDER_ID</key>
	<string>543696938001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-dc3c9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-dc3c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543696938001:ios:38d9aa6cc8a95637527db0</string>
</dict>
</plist>